<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PRIVATE</title>
</head>
<body>
<div class="outer-outlet">
  <h1>PRIVATE DASHBOARD</h1>
  This is private part of web. Common HTML for all subpages<br><br>
  <a [routerLink]="['/sign/login']">Login</a> |
  <a [routerLink]="['/']">Dashboard</a> |
  <a [routerLink]="['/page1']">Page 1</a> |
  <a [routerLink]="['/page2']">Page 2 (Redirect To Page 2->A)</a> |
  <a [routerLink]="['/page2/page-a']">Page 2 / Page A (Simple) </a> |
  <a [routerLink]="['/page2/page-b']">Page 2 / Page B (Complex - list) </a> |
  <a [routerLink]="['/page2/page-b/edit/3']">Page 2 / Page B (Complex - details) </a>
  <hr>
  <h2>SUBPAGE</h2>
  This DIV contain a HTML of subpage called by router-outlet
  <div class="outer-outlet">
    <router-outlet></router-outlet>
  </div>
</div>
</body>
</html>
